@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --brand: 220 84% 65%;
  --success: 120 57% 58%;
  --warning: 50, 90%, 57%;
  --error: 0 84% 60%;

  --bg-background: 30 6% 12%;
  --bg-primary: 26 4% 16%;
  --bg-secondary: 20 2% 32%;

  --text-primary: 214 32% 91%;
  --text-secondary: 216 22% 76%;
  --text-tertiary: 218 10% 65%;

  --text-placeholder: 216 5% 45%;

  --border: 25 6% 21%;
}

body {
  @apply bg-primary text-secondary rounded-xs;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* für IE und Edge */
  scrollbar-width: none; /* für Firefox */
}

@theme {
  --animate-wiggle: wiggle 2s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-0.3deg);
    }
    50% {
      transform: rotate(0.3deg);
    }
  }
}


